@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive; ;
    margin: 0px;
}
.body {
    color: aliceblue;
    background-color: #472383;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    align-items: center;
    background: rgb(66,32,122);
    background: linear-gradient(180deg, rgba(66,32,122,1) 0%, rgba(49,17,85,1) 100%);
    display: flex;
}
.header-links {
    padding: 10px;
    align-items: center;
    margin-left: auto;
}
ul {
    color: #E9D16C;
    font-size: 20px;
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.main { 
   padding-left: 100px;
   padding-right: 100px;
    justify-content: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    height: 100%;
}
.main-text {
    max-width: 600px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
}
.our-products {
    color: #472383;
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.product-names {
    justify-content: center;
    display: flex;
    gap: 150px;
}
.products {
    padding: 20px;
    background-color: #FFFFFF;
    display: flex;
    gap: 100px;
    justify-content: center;
}
.product {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.product-img {
    max-width: 200px;
    max-height: 200px;
}
.product:hover {
    transform: scale(1.25);
}
.pour {
    display: flex;
    justify-content: flex-end;
}
.cup {
    max-height: 200px;
    max-width: 200px;
}
.footer {
    height: 75px;
    color: #472383;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 75px; 
    width: 150px; 
    object-fit: contain;
}
.dairy-milk {
    max-height: 600px;
    max-width: 200px;
}
