@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    font-family: 'Patrick Hand', cursive; ;
    margin: 0;
}
.body {
    color: aliceblue;
    background-color: #2A0A49;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
}
.header-links {
    padding: 10px;
    align-items: center;
    margin-left: auto;
}
ul {
    
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}
.main { 
  
    display: flex;
    height: 100%;
}
.main-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 50px; 
    width: 100px; 
    object-fit: contain;
}
.dairy-milk {
    max-height: 300px;
    max-width: 600px;
}
